{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content %}
    <div class="col-lg-6 col-md-6 mx-auto py-4">
        <h2 class="text-center white-text">LOGOWANIE</h2>
        <!-- Form -->
        <form class="text-center signup" style="color: #757575;" method="post" role="form" enctype="multipart/form-data">
            {% csrf_token %}
            <!-- Username -->
            <div class="md-form ">
                {% render_field form.username class="form-control" placeholder="Nazwa Użytkownika"%}
                <label for='{{ form.username }}' class="white-text h6" >Nazwa Użytkownika</label>
            </div>

            <!-- Password -->
            <div class="md-form">
                {% render_field form.password class="form-control" aria-describedby="materialRegisterFormPasswordHelpBlock" placeholder="Hasło"%}
                <label for='{{ form.password }}' class="white-text h6">Hasło</label>
            </div>

            <!-- Sign up button -->
            <button class="btn info-color-dark btn-rounded btn-block my-4 waves-effect z-depth-0" type="submit">Zaloguj się</button>

        </form>
        <!-- Form -->
    </div>
{% endblock %}