{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content %}
    <div class="row">
    <div class="col-md-12">
        <div class="container">
            <div class="col-md-6">
            <h2 class="text-center">LOGOWANIE</h2>
            <form method="post">
                {% csrf_token %}

                <div class=" col-md-12">
                <div class="form-group">
                    {% render_field form.username class="form-control " placeholder="Nazwa uzytkownika" %}
                </div>
                    </div>
                <div class=" col-md-12">
                <div class="form-group">
                    {% render_field form.password class="form-control" placeholder="Hasło" %}
                </div>
                    </div>
                <div class=" col-md-12">
                <button type="submit" class="form-control btn btn-primary">Zaloguj się</button>
                    </div>
            </form>
        </div>
            <div class="col-md-1">
                <h1 class="text-center col-centered">LUB</h1>
            </div>
            <div class="col-md-5">
                <p class=" text-center col-centered">AUTH</p>
            </div>
    </div>
        </div>
    </div>

{% endblock %}