<div class="series-nav">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link active" href="{% url 'series:anime_detail' pk=pk slug=slug %}">INFORMACJE</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'series:anime_episode_list' pk=pk slug=slug %}">ODCINKI</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#!">BOHATEROWIE</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="{% url 'series:anime_recommendations' pk=pk slug=slug %}">REKOMENDACJE</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'series:anime_reviews' pk=pk slug=slug %}">RECENZJE</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#!">STATYSTYKI</a>
        </li>

    </ul>
</div>
